/*
	CSS rules for Memory game
*/

@import url(../font/Rapscallion/RAPSCALL.ttf);
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Calligraffitti);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:500italic);

body {
	font-family: 'Calligraffitti', Helvetica, Century, Arial;
	background-color: #4DEBA8;
}

header {
	position: relative;
	margin: 2em;
	text-align: center;
}

header h1 {
	font-family: 'Shadows Into Light', Helvetica, Century, Arial;
	font-size: 3em;
}

header h2 {
	font-size: 1.5em;
}

a {
	color: #BC00FF;
}

img {
	width: 20%;
	margin: 5px;
}

nav {
	/*position: fixed;*/
	text-align: center;
}

nav ul {
	margin: 1em;
}

nav li {
	display: inline-block;
	margin-right: 2em;
	padding: 10px;
}

article ul {
	margin: 1em;
	border: 2px groove #FFB719;
}

article li {
	display: inline-block;
	padding: 1em;
}

footer {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	text-align: center;
	margin: 2em 1em 0 1em;
}

button {
	padding: 5px;
}

#intro {
	text-align: center;
	margin: 1.5em;
	padding: 1em;
}

#how-to {
	text-align: center;
}

#stats {
	/*display: none;*/
	font-family: 'Shadows Into Light', Helvetica, Century, Arial;
}

#game-board {
	background-color: #772993;
	/*margin: 2em 1em;*/
	color: #09B26A;
}